$slide-left: -60vw;
$slide-right: 60vw;

$duration: .6s;

/*
 * Title Animation
 */
.title-slide-leave-active {
  transition: all $duration ease;
  transform: translateX($slide-right);
}

.title-slide-enter-active {
  transition: all .3s ease;
}

.title-slide-enter {
  transform: translateX($slide-right);
}
/*
 * End of Title Animation
 */

/*
 * Divider animation
 */
.divider-slide-leave-active {
  transition: all $duration ease;
  transform: translateX($slide-right);
}

.divider-slide-enter-active {
  transition: all $duration ease;
  transition-delay: .3s;
}

.divider-slide-enter {
  transform: translateX($slide-right);
}
/*
 * End of Divider Animation
 */

/*
 * Description Animation
 */
.description-slide-leave-active {
  transition: all $duration ease;
  transform: translateX($slide-right);
}

.description-slide-enter-active {
  transition: all $duration ease;
  transition-delay: .2s;
}

.description-slide-enter {
  transform: translateX($slide-right);
}
/*
 * Description Animation
 */

/*
 * Work Softbox animation
 */
 .picture-slide-leave-active {
   transition: all .3s ease;
   transform: translateX($slide-left);
 }

 .picture-slide-enter-active {
   transition: all .3s ease;
 }

 .picture-slide-enter {
   transform: translateX($slide-left);
 }
